:root {
    --white: #F2EBDD;
    --l-green: #739072;
    --green: #4F6F52;
    --d-green: #3A4D39;
    --headings: 'Raleway', sans-serif;
    --paras: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--l-green);
}

h1 {
    font-family: var(--headings);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5rem;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 1px;
    border-bottom: 2px solid var(--d-green);
}

h2 {
    font-family: var(--headings);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    margin: 50px 0px 40px 0px;
}

p {
    font-family: var(--paras);
}



input[type="text"] {
    height: 40px;
    font-size: 17px;
}

#submit-btn {
    height: 40px;
}


form {
    display: flex;
    flex-direction: column;
    font-family: (--paras);
    margin: auto;
    width: 50%;
   
}

form label {
    font-family: var(--paras);
}
textarea {
    border: 1px solid var(--d-green);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--d-green);
    margin-top: 100px;
}

footer p {
    font-family: var(--paras);
    color: var(--white);
    font-weight: 300;
    font-size: 14px;
}



#search-item {
    width: 50%;
    margin: auto;
    padding-top: 30px;
}






.system-right {
    text-align: right;
}

.role {
    font-weight: bold;
}


/* Chat related elements */

.previous-chat {
    display: none;
    background: white;
    border-bottom: 1px solid lavender;
    border: 2px solid black;
    height: 500px;
    margin: auto;
    padding: 40px;
    overflow-y: scroll;
    width: 50%;
}


/* The chat button */
.previous-chat-btn {
   
    font-family: var(--paras);
    padding: 40px;
    margin-top: 60px;
}


.previous-chat-title{
    display: none;
}

.previous-msg  {
    border-bottom: 6px solid lavender;
}




.title-box {
    display: flex;
    margin: auto;
    width: 50%;
}


.system-response {
    display: none;
}